<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.grammar.dao.mapper.GrammarMapper">
	<resultMap id="grammarMap" type="emt.emt.common.domain.Grammar">
		<result property="grammarNo" column="grammar_no"/>
		<result property="grammarQuiz" column="grammar_quiz"/>
		<result property="grammarEx" column="grammar_ex"/>
		<result property="grammarEx1" column="grammar_ex1"/>
		<result property="grammarEx2" column="grammar_ex2"/>
		<result property="grammarEx3" column="grammar_ex3"/>
		<result property="grammarEx4" column="grammar_ex4"/>
		<result property="grammarInning" column="grammar_inning"/>
		<result property="grammarAnswer" column="grammar_answer"/>
	</resultMap>
	
	<!-- 관리자 문제조회 -->
	<select id="grammarList" parameterType="int" resultMap="grammarMap">
		<![CDATA[
		SELECT grammar_no grammarNo, grammar_quiz grammarQuiz, grammar_ex grammarEx, grammar_ex1 grammarEx1,
			   grammar_ex2 grammarEx2, grammar_ex3 grammarEx3, grammar_ex4 grammarEx4, grammar_inning grammarInning,
			   grammar_answer grammarAnswer
			   
		FROM (SELECT rownum AS rnum, M.* 
			  FROM (
			  		SELECT * 
					FROM grammar
					ORDER BY grammar_no DESC
			  		) M 
			  WHERE rownum  < = 7*#{page})
		WHERE rnum > 7*(#{page}-1)
		]]>
	</select>

	<!-- 관리자 문제조회 페이징 -->
	<select id="grammarCount" resultType="int">
		SELECT COUNT(*)
		FROM GRAMMAR
	</select>
	
	<!-- 관리자 문제상세보기 -->
	<select id="grammarView" parameterType="emt.emt.common.domain.Grammar" resultMap="grammarMap">
		SELECT GRAMMAR_NO
			, GRAMMAR_QUIZ
			, GRAMMAR_EX
			, GRAMMAR_EX1
			, GRAMMAR_EX2
			, GRAMMAR_EX3
			, GRAMMAR_EX4
			, GRAMMAR_INNING
			, GRAMMAR_ANSWER
		FROM GRAMMAR
		WHERE GRAMMAR_NO = #{grammarNo}
	</select>
	
	<!--  관리자 문제등록 -->
	<insert id="grammarAdd" parameterType="emt.emt.common.domain.Grammar">
		INSERT INTO GRAMMAR(
			  GRAMMAR_NO
			, GRAMMAR_QUIZ
			, GRAMMAR_EX
			, GRAMMAR_EX1
			, GRAMMAR_EX2
			, GRAMMAR_EX3
			, GRAMMAR_EX4
			, GRAMMAR_INNING
			, GRAMMAR_ANSWER
			)
		VALUES (
			  SEQ_GRAMMAR_NO.NEXTVAL
			, #{grammarQuiz}
			, #{grammarEx}
			, #{grammarEx1}
			, #{grammarEx2}
			, #{grammarEx3}
			, #{grammarEx4}
			, #{grammarInning}
			, #{grammarAnswer}
			)
	</insert>
	
	<!-- 관리자 문제수정 -->
	<update id="grammarUpdate" parameterType="emt.emt.common.domain.Grammar">
		UPDATE GRAMMAR
		<set>
			<if test="grammarQuiz != null">	   GRAMMAR_QUIZ=#{grammarQuiz}	</if>
			<if test="grammarEx  != null">	 , GRAMMAR_EX=#{grammarEx}	  	</if>
			<if test="grammarEx1 != null">	 , GRAMMAR_EX1=#{grammarEx1}	</if>
			<if test="grammarEx2 != null">	 , GRAMMAR_EX2=#{grammarEx2}	</if>
			<if test="grammarEx3 != null">	 , GRAMMAR_EX3=#{grammarEx3}	</if>
			<if test="grammarEx4 != null">	 , GRAMMAR_EX4=#{grammarEx4}	</if>
			<if test="grammarInning != null">, GRAMMAR_INNING=#{grammarInning}</if>
			<if test="grammarAnswer != null">, GRAMMAR_ANSWER=#{grammarAnswer}</if>
		</set>
		WHERE GRAMMAR_NO=#{grammarNo}
	</update>
	
	<!-- 관리자 문제삭제 -->
	<delete id="grammarDelete" parameterType="emt.emt.common.domain.Grammar">
		DELETE GRAMMAR
		WHERE GRAMMAR_NO = #{grammarNo}
	</delete>
	
	
	<!-- 사용자 문제출력 -->
	<select id="userGrammarList" parameterType="map" resultMap="grammarMap">
		SELECT GRAMMAR_NO GRAMMARNO
			, GRAMMAR_QUIZ GRAMMARQUIZ
			, GRAMMAR_EX GRAMMAREX
			, GRAMMAR_EX1 GRAMMAREX1
			, GRAMMAR_EX2 GRAMMAREX2
			, GRAMMAR_EX3 GRAMMAREX3
			, GRAMMAR_EX4 GRAMMAREX4
			, GRAMMAR_INNING GRAMMARINNING
			, GRAMMAR_ANSWER GRAMMARANSWER
		FROM GRAMMAR
		WHERE GRAMMAR_INNING = #{grammarInning}

	
	</select>
	
	
	
	

</mapper>