<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.review.dao.mapper.ReviewMapper">
	<resultMap id="reviewMap" type="emt.emt.common.domain.Review">	
		<result property="questionVideo" column="question_video" />
		<result property="questionType" column="question_Type" />
		<result property="reviewNo" column="review_no" />
		<result property="userId" column="user_id" />
		<result property="questionNo" column="question_no" />
	</resultMap>

	<select id="reviewList" parameterType="emt.emt.common.domain.Review" resultMap="reviewMap">
		SELECT B.QUESTION_NO QUESTIONNO
			, B.QUESTION_TYPE QUESTIONTYPE
			, B.QUESTION_VIDEO QUESTIONVIDEO
			, N.REVIEW_NO REVIEWNO
			, N.USER_ID USERID
		FROM QUESTION B
			, REVIEW N
		WHERE B.QUESTION_NO = N.QUESTION_NO
	      AND USER_ID = #{userId}
		ORDER BY REVIEW_NO DESC
	</select>

	<!-- 문제를 푼 후 저장된 문제인지 확인 -->
	<select id="reviewCheck" parameterType="emt.emt.common.domain.Review" resultMap="reviewMap">
		SELECT REVIEW_NO
			 , USER_ID
			 , QUESTION_NO
		  FROM REVIEW
		 WHERE USER_ID = #{userId}
		   AND QUESTION_NO = #{questionNo}
	</select>

	<!-- 문제를 푼후 저장 -->
	<insert id="reviewInsert" parameterType="emt.emt.common.domain.Review">

		INSERT INTO REVIEW
		(
			  REVIEW_NO
			, USER_ID
			, QUESTION_NO
		)
		VALUES 
		(
			  SEQ_REVIEW_NO.NEXTVAL
			, #{userId}
			, #{questionNo}
		)


	</insert>
	<select id="questionReview" resultType="emt.emt.common.domain.Question" parameterType="emt.emt.common.domain.Question"> 
		SELECT QUESTION_NO QUESTIONNO
			, QUESTION_TYPE QUESTIONTYPE
			, QUESTION_VIDEO QUESTIONVIDEO
		FROM QUESTION
		WHERE QUESTION_NO = #{questionNo}
	</select>
</mapper>












